/* .DesertScreen {
    background-image: url('/public/Camel.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 2rem;
} */