.container {
  height: 200vh; /* Make sure there's enough content to scroll */
  position: relative;
}

.fixed-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background 1s ease-in-out;
}

.first-image {
  background-image: url('/public/LandingPage.png');
}

.second-image {
  background-image: url('/public/camel1.png');
}

.content-boxes {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background: rgba(255, 255, 255, 0.8);
  margin: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
